body{
    background-color: #173F4F;
    background-image: url("bg_img_resized.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;  
}

p {
    color:#35B9AB
}

#main {
    opacity: 0;
    animation: topfade 1.5s forwards ;      
    animation-delay: .75s;
    position: relative;
}

#name{
    font-size: 200%;
    color: #35B9AB
}

#summary{
    color: #173F4F;
}

.top_info ul{
    width:100%;
    position:relative;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin: auto;
}

.top_info li{ 
    padding: 15px 35px 15px; 
    margin: 0px 3 0px;
    color:#35B9AB;
    /*background-color: #178277;*/
    display: inline-block;
    
}

.top_info{
    animation: topfade 1.5s ease-out;
    position: relative;
    padding: 0%;
    /*background-color: #178277;
    /*font-weight: bold;*/
}

.top_info li{
    transition: 1s;
}

.top_info li:hover{
    color:#ADEEE3;
    /*font-size: 110%;*/
}


.top_info a:link, :visited{
    text-decoration: inherit;
    color: inherit;
}

#projects_tab:hover{
    color:GRAY;
    /*font-size: 90%;*/
}

@keyframes topfade{
    0%{top:-75px;opacity: 0;}
    100%{top:0px;opacity: 1;}
}

#loadOverlay{display: none;}